@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-04-02 12:00:25
 * @version $Id$
 */


/*共用*/

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }

@font-face {
  font-family: 'iconfont';  /* project id 689299 */
  src: url('//at.alicdn.com/t/font_689299_lvjacywzaypsyvi.eot');
  src: url('//at.alicdn.com/t/font_689299_lvjacywzaypsyvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_689299_lvjacywzaypsyvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_689299_lvjacywzaypsyvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_689299_lvjacywzaypsyvi.svg#iconfont') format('svg');
}


.f10 {
  font-size: 0.625rem !important;
}

.f12 {
  font-size: 0.75rem !important;
}

.f13 {
  font-size: 0.8125rem !important;
}

.f14 {
  font-size: 0.875rem !important;
}

.f15 {
  font-size: 0.9375rem !important;
}

.f16 {
  font-size: 1rem !important;
}

.f18 {
  font-size: 1.125rem !important;
}

.f20 {
  font-size: 1.25rem !important;
}

.f24 {
  font-size: 1.5rem !important;
}

.text-left {
  text-align: left
}

.text-right {
  text-align: right
}

.text-center {
  text-align: center
}

.text-justify {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
}

.text-red {
  color: #d4282d !important; 
}

.text-default {
  color: #333;
}

.text-info {
  color: #666;
}

.text-muted {
  color: #999;
}

.bold {
  font-weight: bold;
}

.p-sm {
  padding: 10px;
}

.p-md {
  padding: 15px;
}

.p-n {
  padding: 0;
}

.pt-n {
  padding-top: 0;
}

.pb-n {
  padding-bottom: 0;
}

.mt-n {
  margin-top: 0 !important;
}

body,
html {
  /*  height: 100%;
  width: 100%;
  overflow-x: hidden;*/
}

.main-body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
}

.container {
  box-sizing: border-box;
  height: 100%;
  padding-bottom: 55px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.header {
  position: absolute;
  left: 0px;
  right: 0;
  top: 0px;
  z-index: 100;
}
.header .vux-header{
  background-color:#fff;
}
.header .vux-header .vux-header-title{
  color:#333;
}
.header .vux-header .vux-header-left a, .header .vux-header .vux-header-left{
  color:#999;
}
.header+.container {
  padding-top: 46px;
}

body {
  padding-bottom: 55px;
}

.countDown {
  font-size: 12px;
  background: rgba(255, 255, 255, 0.9);
  color: #282c35;
  padding: 1px 5px;
  border-radius: 1px;
}

.countDownTit {
  color: #fff;
}

.countDown .day {
  background-color: #000;
  color: #fff;
  text-align: center;
  display: inline-block;
  padding: 0 3px;
  border-radius: 3px;
}

.countDown .interval {
  text-align: center;
  padding-left: 4px;
}

.no-content {
  text-align: center;
  padding: 15px;
  color: #999;
  font-size: 14px;
}

.fixed-tab {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.vux-1px-b:after {
  border-bottom: 1px solid #eee !important;
  color: #eee!important;
}

.vux-1px-r:after {
  border-right: 1px solid #eee!important;
  color: #eee!important;
}

.vux-1px-t:before {
  border-top: 1px solid #eee!important;
  color: #eee!important;
}




/**/

.goods-list {
  margin-top: 54px;
}

.goods-item {
  margin: 10px;
  display: block;
  box-shadow: 1px 1px 3px #eee;
}

.goods-item-head {
  position: relative;
  overflow: hidden;
}

.goods-item-head:after {
  content: '';
  display: block;
  margin-top: 66.6666%;
}

.goods-item-head>img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.goods-item-head .countDown {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 5px 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5)
}

.goods-item-type {
  position: absolute;
}

.goods-item-footer {
  background: #fff;
  padding: 10px;
}

.goods-item-info {
  padding-bottom: 5px;
}

.goods-item-info h3 {
  font-size: 16px;
}

.goods-item-info h3 small {
  font-weight: normal;
}

.goods-item-info p {
  color: #666;
  font-size: 14px;
}

.goods-item-price {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 0 -10px -10px;
  padding: 10px;
}

.goods-item-price .item {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
}

.goods-item-price .item:last-child {
  text-align: right;
}

.goods-detail-content img {
  display: block;
  height: auto !important;
  width: 100% !important;
}

.goods-item {
  background: #fff;
}

.group-area .vux-label {
  font-size: 15px;
}

.group-area .vux-label .iconfont {
  width: 36px;
  display: inline-block;
  color: #999;
  font-size: 24px;
  vertical-align: top;
}

.group-area .weui-cells {
  margin-top: 12px;
}

.goodsStatus {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 12px;
  padding: 2px 10px;
  border-radius: 10px;
  background: #999;
  color: #fff;
}

.goodsStatus.red {
  background: #E64340;
}

.goodsStatus.green {
  background: #1AAD19;
}

.goodsStatus.grey {
  background: #999;
}

.bottomLayer .weui-btn {
  border-radius: 0px;
  line-height: 50px;
}
